// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$typography-font-family: 'Roboto', sans-serif;
$typography-font-family-secondary: 'Noto Serif', serif;
$input-text-color: #202020;
$input-label-color: #202020;
$input-font-size: 15px;

$primary: #1976d2;
$secondary: #26a69a;
$accent: #9bb027;
$dark: #1d1d1d;
$dark-page: #121212;

$positive: #21ba45;
$positive-dark: #16732c;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;
$purple-13: #464da1;
$purple-14: linear-gradient(270deg, #cf5c97 -0.02%, #b55898 13.27%, #91549b 34.34%, #74519d 54.25%, #5d4f9f 72.42%, #4d4ea0 88.26%, #464da1 100.02%);

